<aside class="controls">
    <!-- Controls heading -->
    <div class="controls-heading">
        <div class="filter-heading">
            <img src="./assets/filter.svg" alt="Filter icon" class="filter-svg">
            <h1>Filters</h1>
        </div>
    </div>

    <!-- Filter menu - Collapsed on mobile -->
    <div class="filter-options">

        <form action="/members" method="get" class="filters">

            <!-- Filter category -->
            <div class="filter-category">
                <h2>Squad:</h2>
                <ul class="filter-item" id="squad-filter">
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="squad" id="squadA" value="squad-a-2022">
                            <label for="squadA">Squad A</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="squad" id="squadB" value="squad-b-2022">
                            <label for="squadB">Squad B</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="squad" id="squatC" value="squat-c-2022">
                            <label for="squatC">Squat C</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="squad" id="founders" value="founders-2021">
                            <label for="founders">Founders</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="squad" id="minorWeb" value="minor-web-2023">
                            <label for="minorWeb">Minor Web</label>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Filter category -->
            <div class="filter-category">
                <h2>Role:</h2>
                <ul class="filter-item">
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="role" id="student" value="student">
                            <label for="student">Student</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="role" id="lecturer" value="lecturer">
                            <label for="lecturer">Lecturer</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="role" id="co-teacher" value="co_teacher">
                            <label for="co-teacher">Co-teacher</label>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Filter category -->
            <div class="filter-category">
                <h2>Cohort:</h2>
                <ul class="filter-item">
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="cohort" id="cohortFirst" value="2021">
                            <label for="cohortFirst">2021</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="cohort" id="cohortSecond" value="2022">
                            <label for="cohortSecond">2022</label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-option">
                            <input type="radio" name="cohort" id="cohortThird" value="2023">
                            <label for="cohortThird">2023</label>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Filter category -->
            <div class="filter-category">
                <h2>Sort by:</h2>
                <select name="orderBy" id="sorting">
                    <option default value="name-AZ">Name (A-Z)</option>
                    <option value="name-ZA">Name (Z-A)</option>
                </select>
            </div>
            <input type="submit" value="Filter" class="filter-submit">
        </form>
        
    </div>
</aside>