<%- include ('./partials/head') %>

<aside class="controls">
    <!-- Controls heading -->
    <div class="controls-heading">
        <div class="filter-heading">
            <img src="./assets/filter.svg" alt="Filter icon" class="filter-svg">
            <h1>Filters</h1>
        </div>

        <!-- Search bar -->
        <div class="search">
            <input class="input-search" type="search" name="search" id="search" placeholder="Search">
            <label for="search"><img src="./assets/mag.svg" alt="Search button" class="mag-svg"></label>
        </div>
    </div>

    <!-- Filter menu - Collapsed on mobile -->
    <div class="filter-options">

        <!-- Filter category -->
        <div class="filter-category">
            <h2>Squad:</h2>
            <ul class="filter-item">
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="squad" id="squadA">
                        <label for="squadA">Squad A</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="squad" id="squadB">
                        <label for="squadB">Squad B</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="squad" id="squatC">
                        <label for="squatC">Squat C</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Filter category -->
        <div class="filter-category">
            <h2>Role:</h2>
            <ul class="filter-item">
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="role" id="student">
                        <label for="student">Student</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="role" id="lecturer">
                        <label for="lecturer">Lecturer</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="role" id="co-teacher">
                        <label for="co-teacher">Co-teacher</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Filter category -->
        <div class="filter-category">
            <h2>Stars:</h2>
            <ul class="filter-item">
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="stars" id="starLow">
                        <label for="starLow">0 - 3</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="stars" id="starMid">
                        <label for="starMid">4 - 7</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="stars" id="starHigh">
                        <label for="starHigh">8 ></label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Filter category -->
        <div class="filter-category">
            <h2>Cohort:</h2>
            <ul class="filter-item">
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="cohort" id="cohortFirst">
                        <label for="starLow">2021</label>
                    </div>
                </li>
                <li>
                    <div class="filter-option">
                        <input type="checkbox" name="cohort" id="cohortSecond">
                        <label for="starMid">2022</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Filter category -->
        <div class="filter-category">
            <h2>Sort by:</h2>
            <select name="sorting" id="sorting">
                <option value="name-AZ">Name (A-Z)</option>
                <option value="name-ZA">Name (Z-A)</option>
                <option value="likes-ASC">Likes (ASC)</option>
                <option value="likes-DESC">Likes (DESC)</option>
                <option value="stars-ASC">Stars (ASC)</option>
                <option value="stars-DESC">Stars (DESC)</option>
            </select>
        </div>
    </div>
</aside>

<main>
    <!-- Cards collection -->
    <section class="cards">
        <!-- Individual cards -->
        <div class="card">
            <div class="img-card">
                <img src="https://via.placeholder.com/500" alt="" class="card-image">
                <div class="subinfo">
                    <p class="name">Tristan de Muijnck</p>
                    <p>Amsterdam</p>
                    <p>21</p>
                </div>
            </div>
            <div class="info">
                <div class="likes">
                    <img src="./assets/thumb.svg" alt="Like icon" class="thumb">
                    <p class="like-count">6</p>
                </div>
                <div class="tags">
                    <div class="tag">
                        <p>Squat C</p>
                    </div>
                    <div class="tag">
                        <p>Student</p>
                    </div>
                    <div class="tag">
                        <div class="stars">
                            <p>3</p>
                            <img src="./assets/star.svg" alt="Star icon" class="star">
                        </div>
                    </div>
                    <div class="tag">
                        <p>2022</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img-card">
                <img src="https://via.placeholder.com/500" alt="" class="card-image">
                <div class="subinfo">
                    <p class="name">Tristan de Muijnck</p>
                    <p>Amsterdam</p>
                    <p>21</p>
                </div>
            </div>
            <div class="info">
                <div class="likes">
                    <img src="./assets/thumb.svg" alt="Like icon" class="thumb">
                    <p class="like-count">6</p>
                </div>
                <div class="tags">
                    <div class="tag">
                        <p>Squat C</p>
                    </div>
                    <div class="tag">
                        <p>Student</p>
                    </div>
                    <div class="tag">
                        <div class="stars">
                            <p>3</p>
                            <img src="./assets/star.svg" alt="Star icon" class="star">
                        </div>
                    </div>
                    <div class="tag">
                        <p>2022</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img-card">
                <img src="https://via.placeholder.com/500" alt="" class="card-image">
                <div class="subinfo">
                    <p class="name">Tristan de Muijnck</p>
                    <p>Amsterdam</p>
                    <p>21</p>
                </div>
            </div>
            <div class="info">
                <div class="likes">
                    <img src="./assets/thumb.svg" alt="Like icon" class="thumb">
                    <p class="like-count">6</p>
                </div>
                <div class="tags">
                    <div class="tag">
                        <p>Squat C</p>
                    </div>
                    <div class="tag">
                        <p>Student</p>
                    </div>
                    <div class="tag">
                        <div class="stars">
                            <p>3</p>
                            <img src="./assets/star.svg" alt="Star icon" class="star">
                        </div>
                    </div>
                    <div class="tag">
                        <p>2022</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img-card">
                <img src="https://via.placeholder.com/500" alt="" class="card-image">
                <div class="subinfo">
                    <p class="name">Tristan de Muijnck</p>
                    <p>Amsterdam</p>
                    <p>21</p>
                </div>
            </div>
            <div class="info">
                <div class="likes">
                    <img src="./assets/thumb.svg" alt="Like icon" class="thumb">
                    <p class="like-count">6</p>
                </div>
                <div class="tags">
                    <div class="tag">
                        <p>Squat C</p>
                    </div>
                    <div class="tag">
                        <p>Student</p>
                    </div>
                    <div class="tag">
                        <div class="stars">
                            <p>3</p>
                            <img src="./assets/star.svg" alt="Star icon" class="star">
                        </div>
                    </div>
                    <div class="tag">
                        <p>2022</p>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</main>

<%- include ('./partials/foot') %>